# /etc/fstab: static file system information.
#
# Use 'blkid' to print the universally unique identifier for a
# device; this may be used with UUID= as a more robust way to name devices
# that works even if disks are added and removed. See fstab(5).
#
# <file system> <mount point>   <type>  <options>       <dump>  <pass>
# / was on /dev/sda3 during installation
UUID=b5dbf09f-0782-496c-b3b1-2dab1e73ada8 /               ext4    errors=remount-ro 0       1
# /boot/efi was on /dev/sda1 during installation
#UUID=4634-4E4E  /boot/efi       vfat    defaults        0       1
# swap was on /dev/sda2 during installation
UUID=f5a5c607-b57a-48c0-844f-4fcdbf5ab752 none            swap    sw              0       0
UUID=4634-4E4E	/boot/efi	vfat	defaults	0	1

katayama:/volume1/nras	/mnt/t	nfs	rw,nolock	0	0
katayama:/volume1/asafonov	/mnt/p	nfs	rw,nolock	0	0

#//katayama/nras	/mnt/t	cifs	username=asafonov,password=Sing2013,gid=ats,uid=asafonov,nounix,nobrl,sec=ntlm,file_mode=0770,dir_mode=0770	0 0

#//katayama/asafonov	/mnt/p	cifs	username=asafonov,password=Sing2013,gid=asafonov,uid=asafonov,nounix,nobrl,sec=ntlm	0 0

//10.106.3.125/departments/Razmilovic_Nils/Personal_Folders/nrazmilo/NewEdge_Daily     /mnt/newedge   cifs   credentials=/etc/credentials.asafonov,iocharset=utf8,file_mode=0777,dir_mode=0777,noserverino,auto      0       0
